extends ../_base/_layout

block vars
  include ../_base/_settings
  - let key = "svg2"
  - let page = pages[key]
  - let imgpath = '/_assets/images/'

block contents
  .container
    h1 SVGマスクとかSMILとか
      .fe-area
        h2 SVGマスク
        p 元のSVG
        .pic
          img(src="/_assets/images/original01.svg", alt="")

        p 元の画像
          img(src="/_assets/images/jerry.jpg", alt="")

        p マスク
          .emblem-container
            .emblem
              .
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 500 500">
                  <mask id="em01">
                    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                    d="M0.0,0.0 L500.0,0.0 L500.0,500.0 L0.0,500.0 L0.0,0.0 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M190.784,237.34 C190.784,237.34 169.387,223.894 147.581,200.312 C125.776,176.730 113.84,165.543 115.180,141.989 C117.275,118.435 129.184,112.138 130.300,92.306 C131.417,72.474 115.650,40.415 110.859,29.663 C106.68,18.912 95.739,8.62 95.739,8.62 C95.739,8.62 90.13,2.606 89.258,10.222 C88.503,17.839 101.976,41.40 102.219,51.264 C102.462,61.489 108.211,72.756 104.379,79.346 C100.547,85.935 82.944,112.992 84.938,135.509 C85.832,145.603 87.510,163.699 93.578,172.230 C99.647,180.762 119.963,197.187 123.820,200.312 C130.811,205.977 159.120,227.690 171.343,239.194 C183.565,250.697 186.463,254.315 186.463,254.315 C186.463,254.315 177.208,273.297 169.182,275.916 C161.157,278.535 154.276,262.238 138.941,254.315 C123.606,246.392 105.902,247.954 91.418,234.874 C76.935,221.793 74.608,211.41 71.977,193.832 C69.346,176.622 51.624,136.309 43.896,126.868 C36.168,117.427 28.625,116.161 26.615,120.388 C24.605,124.614 34.128,152.235 37.416,161.430 C40.703,170.625 43.166,173.344 43.896,180.871 C44.626,188.398 53.569,224.672 63.337,234.874 C73.105,245.76 97.845,261.17 110.859,265.115 C123.873,269.213 132.418,265.977 143.261,271.596 C154.104,277.215 156.222,284.556 156.222,284.556 C156.222,284.556 144.148,295.987 128.140,297.517 C112.132,299.47 101.359,293.960 95.739,297.517 C90.118,301.73 89.792,306.679 93.578,310.478 C97.365,314.276 116.212,320.316 128.140,314.798 C140.69,309.279 159.396,295.756 164.862,295.357 C170.329,294.957 177.877,316.613 177.823,321.278 C177.768,325.944 140.761,391.358 132.461,409.843 C124.160,428.328 123.685,435.235 138.941,427.124 C154.197,419.12 182.526,387.237 188.623,373.121 C194.720,359.5 195.901,327.553 197.264,321.278 C198.627,315.3 214.450,301.878 218.865,295.357 C223.727,301.665 233.249,320.462 238.306,327.758 C242.32,337.15 240.466,342.879 240.466,342.879 C240.466,342.879 226.255,370.802 225.345,394.722 C224.435,418.642 234.125,452.787 242.626,466.6 C245.33,481.73 244.273,494.658 249.107,494.87 C253.940,493.516 250.309,472.897 253.427,466.6 C256.544,459.115 273.454,424.623 272.868,399.42 C272.282,373.461 258.800,348.367 255.587,340.719 C255.964,334.804 257.747,334.239 257.747,334.239 C257.747,334.239 275.792,301.815 279.348,295.357 C283.698,298.865 297.279,315.465 300.949,319.118 C302.247,329.284 303.786,357.11 309.590,373.121 C315.393,389.231 341.728,418.292 361.432,429.284 C376.999,440.30 374.801,425.918 367.913,412.3 C361.24,398.87 331.191,347.199 331.191,347.199 C331.191,347.199 322.13,334.290 320.390,327.758 C317.311,321.208 328.509,301.54 333.351,297.517 C338.193,293.980 369.57,315.786 378.713,316.958 C388.369,318.130 406.114,309.583 406.795,303.997 C407.475,298.411 395.476,296.370 385.194,297.517 C374.911,298.664 346.975,292.722 341.991,286.716 C344.107,279.958 353.791,269.457 393.834,260.795 C404.856,257.799 423.916,241.940 434.876,230.553 C445.836,219.167 452.282,200.15 454.317,189.511 C458.735,166.706 459.553,145.577 471.598,129.28 C476.41,120.2 471.598,118.228 471.598,118.228 C471.598,118.228 459.155,119.674 447.837,137.669 C436.519,155.663 424.342,175.699 424.76,204.632 C415.117,233.128 405.437,237.98 383.33,245.674 C360.630,254.250 341.7,266.728 329.31,278.76 C321.898,273.338 310.48,264.348 311.750,258.635 C313.452,252.922 325.889,232.76 365.753,206.792 C403.92,174.564 410.943,158.937 413.275,141.989 C415.607,125.40 399.231,92.248 395.994,81.506 C392.757,70.763 402.469,26.634 406.795,18.863 C411.120,11.91 404.662,6.859 398.154,12.382 C391.647,17.906 364.494,73.538 367.913,92.306 C371.332,111.75 386.286,130.863 383.33,148.469 C379.781,166.75 358.450,196.792 344.151,204.632 C331.682,216.9 312.463,236.599 307.430,237.34 C302.396,237.469 298.973,214.814 311.750,204.632 C324.527,194.450 334.662,193.616 338.999,191.999 C344.80,185.868 352.314,165.402 352.792,150.629 C353.270,135.857 349.390,129.667 346.312,124.708 C343.233,119.749 339.962,114.566 337.671,124.708 C335.381,134.850 334.725,158.148 324.710,165.750 C314.695,173.353 295.989,183.974 292.309,206.792 C288.629,229.611 292.118,240.964 294.469,249.994 C289.960,259.603 277.188,271.596 277.188,271.596 C277.188,271.596 259.303,258.981 259.907,254.315 C260.512,249.649 275.580,217.20 279.348,202.472 C283.117,187.924 275.82,155.235 268.548,139.829 C262.13,124.423 249.107,107.427 249.107,107.427 C249.107,107.427 236.419,119.554 233.986,126.868 C231.553,134.182 216.929,164.404 216.705,185.191 C216.481,205.978 225.990,231.370 231.826,239.194 C237.662,247.18 238.306,252.155 238.306,252.155 C238.306,252.155 225.532,271.286 221.25,271.596 C216.518,271.905 208.744,258.636 203.744,252.155 C204.592,243.649 209.229,229.878 208.64,215.433 C206.900,200.988 196.451,181.362 188.623,176.551 C180.796,171.739 167.342,163.965 164.862,152.789 C162.383,141.614 164.10,130.673 162.702,124.708 C161.395,118.743 155.768,117.741 151.902,122.548 C148.35,127.354 143.502,142.807 145.421,154.950 C147.340,167.92 151.726,186.307 158.382,191.671 C165.37,197.36 184.679,197.50 190.784,211.112 C196.888,225.175 190.784,237.34 190.784,237.34 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                    d="M249.107,144.149 C249.107,144.149 228.340,171.668 229.666,193.832 C230.991,215.996 242.153,238.773 246.946,239.194 C251.740,239.615 265.762,217.125 268.548,198.152 C271.333,179.179 249.107,144.149 249.107,144.149 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                    d="M249.107,267.275 L266.387,284.556 C266.387,284.556 253.674,304.361 251.267,308.317 C248.859,312.274 248.983,312.73 246.946,308.317 C244.910,304.562 229.666,286.716 229.666,286.716 L249.107,267.275 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                    d="M313.910,340.719 C313.910,340.719 338.872,385.20 341.991,390.402 C332.941,385.196 317.830,377.701 313.910,340.719 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                    d="M184.303,342.879 C184.303,342.879 156.310,388.103 154.62,390.402 C151.814,392.700 156.337,391.505 160.542,388.242 C164.747,384.978 179.984,381.254 184.303,342.879 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                    d="M249.107,375.281 C253.70,376.92 261.39,392.414 259.907,405.523 C258.775,418.631 249.107,437.924 249.107,437.924 C249.107,437.924 237.946,420.692 238.306,407.683 C238.665,394.674 244.931,374.426 249.107,375.281 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                    d="M300.949,265.115 L287.989,280.236 L307.430,306.157 L318.230,291.37 L300.949,265.115 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                    d="M197.264,265.115 L210.225,282.396 L190.784,306.157 L177.823,291.37 L197.264,265.115 Z"/>
                  </mask>
                  <g mask="url(#em01)">
                    <image x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="/_assets/images/jerry.jpg"></image>
                  </g>
                </svg>

      .fe-area
        p 元のSVG
        .pic
          img(src="/_assets/images/original02.svg", alt="")

        p マスクの色反転
          .emblem-container
            .emblem
              .
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 500 500">
                  <mask id="em02">
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" class="bg"
                    d="M0.0,0.0 L500.0,0.0 L500.0,500.0 L0.0,500.0 L0.0,0.0 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                    d="M190.784,237.34 C190.784,237.34 169.387,223.894 147.581,200.312 C125.776,176.730 113.84,165.543 115.180,141.989 C117.275,118.435 129.184,112.138 130.300,92.306 C131.417,72.474 115.650,40.415 110.859,29.663 C106.68,18.912 95.739,8.62 95.739,8.62 C95.739,8.62 90.13,2.606 89.258,10.222 C88.503,17.839 101.976,41.40 102.219,51.264 C102.462,61.489 108.211,72.756 104.379,79.346 C100.547,85.935 82.944,112.992 84.938,135.509 C85.832,145.603 87.510,163.699 93.578,172.230 C99.647,180.762 119.963,197.187 123.820,200.312 C130.811,205.977 159.120,227.690 171.343,239.194 C183.565,250.697 186.463,254.315 186.463,254.315 C186.463,254.315 177.208,273.297 169.182,275.916 C161.157,278.535 154.276,262.238 138.941,254.315 C123.606,246.392 105.902,247.954 91.418,234.874 C76.935,221.793 74.608,211.41 71.977,193.832 C69.346,176.622 51.624,136.309 43.896,126.868 C36.168,117.427 28.625,116.161 26.615,120.388 C24.605,124.614 34.128,152.235 37.416,161.430 C40.703,170.625 43.166,173.344 43.896,180.871 C44.626,188.398 53.569,224.672 63.337,234.874 C73.105,245.76 97.845,261.17 110.859,265.115 C123.873,269.213 132.418,265.977 143.261,271.596 C154.104,277.215 156.222,284.556 156.222,284.556 C156.222,284.556 144.148,295.987 128.140,297.517 C112.132,299.47 101.359,293.960 95.739,297.517 C90.118,301.73 89.792,306.679 93.578,310.478 C97.365,314.276 116.212,320.316 128.140,314.798 C140.69,309.279 159.396,295.756 164.862,295.357 C170.329,294.957 177.877,316.613 177.823,321.278 C177.768,325.944 140.761,391.358 132.461,409.843 C124.160,428.328 123.685,435.235 138.941,427.124 C154.197,419.12 182.526,387.237 188.623,373.121 C194.720,359.5 195.901,327.553 197.264,321.278 C198.627,315.3 214.450,301.878 218.865,295.357 C223.727,301.665 233.249,320.462 238.306,327.758 C242.32,337.15 240.466,342.879 240.466,342.879 C240.466,342.879 226.255,370.802 225.345,394.722 C224.435,418.642 234.125,452.787 242.626,466.6 C245.33,481.73 244.273,494.658 249.107,494.87 C253.940,493.516 250.309,472.897 253.427,466.6 C256.544,459.115 273.454,424.623 272.868,399.42 C272.282,373.461 258.800,348.367 255.587,340.719 C255.964,334.804 257.747,334.239 257.747,334.239 C257.747,334.239 275.792,301.815 279.348,295.357 C283.698,298.865 297.279,315.465 300.949,319.118 C302.247,329.284 303.786,357.11 309.590,373.121 C315.393,389.231 341.728,418.292 361.432,429.284 C376.999,440.30 374.801,425.918 367.913,412.3 C361.24,398.87 331.191,347.199 331.191,347.199 C331.191,347.199 322.13,334.290 320.390,327.758 C317.311,321.208 328.509,301.54 333.351,297.517 C338.193,293.980 369.57,315.786 378.713,316.958 C388.369,318.130 406.114,309.583 406.795,303.997 C407.475,298.411 395.476,296.370 385.194,297.517 C374.911,298.664 346.975,292.722 341.991,286.716 C344.107,279.958 353.791,269.457 393.834,260.795 C404.856,257.799 423.916,241.940 434.876,230.553 C445.836,219.167 452.282,200.15 454.317,189.511 C458.735,166.706 459.553,145.577 471.598,129.28 C476.41,120.2 471.598,118.228 471.598,118.228 C471.598,118.228 459.155,119.674 447.837,137.669 C436.519,155.663 424.342,175.699 424.76,204.632 C415.117,233.128 405.437,237.98 383.33,245.674 C360.630,254.250 341.7,266.728 329.31,278.76 C321.898,273.338 310.48,264.348 311.750,258.635 C313.452,252.922 325.889,232.76 365.753,206.792 C403.92,174.564 410.943,158.937 413.275,141.989 C415.607,125.40 399.231,92.248 395.994,81.506 C392.757,70.763 402.469,26.634 406.795,18.863 C411.120,11.91 404.662,6.859 398.154,12.382 C391.647,17.906 364.494,73.538 367.913,92.306 C371.332,111.75 386.286,130.863 383.33,148.469 C379.781,166.75 358.450,196.792 344.151,204.632 C331.682,216.9 312.463,236.599 307.430,237.34 C302.396,237.469 298.973,214.814 311.750,204.632 C324.527,194.450 334.662,193.616 338.999,191.999 C344.80,185.868 352.314,165.402 352.792,150.629 C353.270,135.857 349.390,129.667 346.312,124.708 C343.233,119.749 339.962,114.566 337.671,124.708 C335.381,134.850 334.725,158.148 324.710,165.750 C314.695,173.353 295.989,183.974 292.309,206.792 C288.629,229.611 292.118,240.964 294.469,249.994 C289.960,259.603 277.188,271.596 277.188,271.596 C277.188,271.596 259.303,258.981 259.907,254.315 C260.512,249.649 275.580,217.20 279.348,202.472 C283.117,187.924 275.82,155.235 268.548,139.829 C262.13,124.423 249.107,107.427 249.107,107.427 C249.107,107.427 236.419,119.554 233.986,126.868 C231.553,134.182 216.929,164.404 216.705,185.191 C216.481,205.978 225.990,231.370 231.826,239.194 C237.662,247.18 238.306,252.155 238.306,252.155 C238.306,252.155 225.532,271.286 221.25,271.596 C216.518,271.905 208.744,258.636 203.744,252.155 C204.592,243.649 209.229,229.878 208.64,215.433 C206.900,200.988 196.451,181.362 188.623,176.551 C180.796,171.739 167.342,163.965 164.862,152.789 C162.383,141.614 164.10,130.673 162.702,124.708 C161.395,118.743 155.768,117.741 151.902,122.548 C148.35,127.354 143.502,142.807 145.421,154.950 C147.340,167.92 151.726,186.307 158.382,191.671 C165.37,197.36 184.679,197.50 190.784,211.112 C196.888,225.175 190.784,237.34 190.784,237.34 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M249.107,144.149 C249.107,144.149 228.340,171.668 229.666,193.832 C230.991,215.996 242.153,238.773 246.946,239.194 C251.740,239.615 265.762,217.125 268.548,198.152 C271.333,179.179 249.107,144.149 249.107,144.149 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M249.107,267.275 L266.387,284.556 C266.387,284.556 253.674,304.361 251.267,308.317 C248.859,312.274 248.983,312.73 246.946,308.317 C244.910,304.562 229.666,286.716 229.666,286.716 L249.107,267.275 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M313.910,340.719 C313.910,340.719 338.872,385.20 341.991,390.402 C332.941,385.196 317.830,377.701 313.910,340.719 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M184.303,342.879 C184.303,342.879 156.310,388.103 154.62,390.402 C151.814,392.700 156.337,391.505 160.542,388.242 C164.747,384.978 179.984,381.254 184.303,342.879 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M249.107,375.281 C253.70,376.92 261.39,392.414 259.907,405.523 C258.775,418.631 249.107,437.924 249.107,437.924 C249.107,437.924 237.946,420.692 238.306,407.683 C238.665,394.674 244.931,374.426 249.107,375.281 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M300.949,265.115 L287.989,280.236 L307.430,306.157 L318.230,291.37 L300.949,265.115 Z"/>
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M197.264,265.115 L210.225,282.396 L190.784,306.157 L177.823,291.37 L197.264,265.115 Z"/>
                  </mask>
                  <g mask="url(#em02)">
                    <image x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="/_assets/images/jerry.jpg"></image>
                  </g>
                </svg>

      .fe-area
        p 元のSVG
        .pic
          img(src="/_assets/images/original03.svg", alt="")

        p アウトラインマスクとアニメーション(IEはSVGのアニメーションに対応していないため、動作せず)
          .emblem-container
            .emblem-anime
              .
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 500 500"
                  class="anime01">
                  <defs>
                    <style>
                      #em03 .zentai {
                        fill: #888;
                      }
                      #em03 .uchi {
                        fill: #000;
                      }
                      .show #em03 .lines {
                        //- transform-origin: center center;
                        //- animation: kurukuru 1.5s ease-in-out 5s infinite alternate;
                      }
                      .show #em03 .zentai {
                        stroke: #fff;
                        stroke-width: 3px;
                        stroke-dasharray: 5000px;
                        animation: svg 5s ease-in, tenmetsu 2s linear 5s infinite alternate;
                      }
                      .show #em03 .uchi {
                        stroke-dasharray: 500px;
                        stroke: #fff;
                        stroke-width: 3px;
                        fill: #000;
                        animation: svg2 5s ease-in;
                      }
                      @keyframes svg {
                        0% {
                          fill: transparent;
                          stroke-dashoffset: 5000px;
                        }
                        25%{
                          stroke-dashoffset: 0;
                        }
                        30%{
                          fill: transparent;
                        }
                        50%{
                          fill: #fff;
                          stroke: #fff;
                        }
                        100% {
                          fill: #555;
                          stroke: #fff;
                        }
                      }
                      @keyframes svg2 {
                        0% {
                          stroke-dashoffset: 500px;
                        }
                        17% {
                          stroke-dashoffset: 500px;
                        }
                        25% {
                          stroke-dashoffset: 0;
                        }
                        30%{
                        }
                        50%{
                        }
                        100%{
                        }
                      }
                      @keyframes tenmetsu {
                        0% {
                          fill: #555;
                        }
                        100% {
                          fill: #fff;
                        }
                      }
                      @keyframes kurukuru {
                        0% {
                          transform: rotateY(0deg);
                        }
                        100% {
                          transform: rotateY(180deg);
                        }
                      }
                    </style>
                  </defs>
                  <mask id="em03">
                    <g class="lines">
                      <path class="bg" fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                      d="M0.0,0.0 L500.0,0.0 L500.0,500.0 L0.0,500.0 L0.0,0.0 Z"/>
                      <path class="zentai" fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                      d="M191.451,237.17 C191.451,237.17 170.137,223.928 148.415,200.436 C126.694,176.945 114.51,165.801 116.138,142.338 C118.226,118.874 130.88,112.602 131.201,92.847 C132.314,73.91 116.607,41.155 111.835,30.445 C107.62,19.735 96.772,8.927 96.772,8.927 C96.772,8.927 91.69,3.491 90.317,11.78 C89.565,18.666 102.986,41.777 103.228,51.963 C103.470,62.148 109.197,73.372 105.379,79.936 C101.562,86.500 84.27,113.453 86.13,135.882 C86.904,145.938 88.575,163.964 94.620,172.463 C100.666,180.962 120.904,197.323 124.746,200.436 C131.710,206.79 159.910,227.709 172.85,239.169 C184.260,250.628 187.148,254.231 187.148,254.231 C187.148,254.231 177.928,273.140 169.933,275.749 C161.938,278.358 155.84,262.123 139.808,254.231 C124.532,246.339 106.897,247.895 92.469,234.865 C78.41,221.835 75.723,211.124 73.103,193.981 C70.482,176.838 52.828,136.680 45.129,127.275 C37.431,117.871 29.917,116.610 27.915,120.820 C25.912,125.30 35.399,152.544 38.674,161.704 C41.949,170.864 44.402,173.572 45.129,181.70 C45.856,188.568 54.765,224.702 64.495,234.865 C74.226,245.28 98.871,260.908 111.835,264.990 C124.799,269.72 133.311,265.848 144.112,271.445 C154.913,277.43 157.22,284.356 157.22,284.356 C157.22,284.356 144.996,295.743 129.49,297.267 C113.103,298.791 102.371,293.724 96.772,297.267 C91.174,300.810 90.849,306.394 94.620,310.178 C98.392,313.962 117.167,319.979 129.49,314.481 C140.932,308.984 160.184,295.513 165.630,295.115 C171.75,294.717 178.595,316.289 178.540,320.937 C178.486,325.584 141.622,390.746 133.353,409.160 C125.84,427.574 124.611,434.455 139.808,426.375 C155.6,418.294 183.226,386.642 189.299,372.580 C195.373,358.518 196.549,327.187 197.907,320.937 C199.264,314.686 215.27,301.611 219.424,295.115 C224.268,301.399 233.753,320.124 238.791,327.392 C242.502,336.613 240.942,342.455 240.942,342.455 C240.942,342.455 226.786,370.270 225.880,394.98 C224.973,417.926 234.625,451.939 243.94,465.107 C245.491,480.116 244.735,493.649 249.550,493.80 C254.364,492.511 250.748,471.971 253.853,465.107 C256.959,458.242 273.803,423.884 273.219,398.401 C272.635,372.919 259.205,347.922 256.5,340.303 C256.380,334.411 258.157,333.847 258.157,333.847 C258.157,333.847 276.132,301.549 279.675,295.115 C284.8,298.610 297.537,315.146 301.193,318.785 C302.485,328.912 304.19,356.532 309.800,372.580 C315.581,388.627 341.814,417.577 361.443,428.526 C376.949,439.231 374.760,425.174 367.898,411.312 C361.36,397.450 331.318,346.758 331.318,346.758 C331.318,346.758 322.176,333.899 320.559,327.392 C317.491,320.867 328.646,300.790 333.470,297.267 C338.293,293.744 369.39,315.466 378.657,316.633 C388.276,317.800 405.953,309.287 406.630,303.722 C407.308,298.158 395.356,296.124 385.113,297.267 C374.869,298.410 347.41,292.490 342.77,286.508 C344.184,279.775 353.831,269.315 393.720,260.686 C404.699,257.702 423.686,241.904 434.604,230.561 C445.522,219.219 451.943,200.141 453.970,189.677 C458.371,166.960 459.185,145.912 471.184,129.427 C475.610,120.436 471.184,118.668 471.184,118.668 C471.184,118.668 458.789,120.109 447.515,138.34 C436.240,155.960 424.111,175.918 423.845,204.740 C414.921,233.126 405.278,237.81 382.961,245.624 C360.643,254.167 341.96,266.596 329.166,277.901 C322.61,273.181 310.256,264.226 311.952,258.535 C313.647,252.843 326.36,232.78 365.746,206.892 C402.942,174.788 410.763,159.221 413.86,142.338 C415.409,125.455 399.96,92.789 395.872,82.88 C392.647,71.387 402.322,27.427 406.630,19.686 C410.939,11.944 404.506,7.728 398.23,13.230 C391.541,18.732 364.492,74.150 367.898,92.847 C371.304,111.543 386.201,131.255 382.961,148.793 C379.721,166.331 358.472,196.929 344.228,204.740 C331.807,216.73 312.662,236.583 307.648,237.17 C302.634,237.450 299.224,214.882 311.952,204.740 C324.679,194.597 332.466,195.256 337.773,193.981 C343.534,188.528 352.360,165.661 352.836,150.945 C353.312,136.229 349.447,130.63 346.380,125.124 C343.314,120.184 340.55,115.20 337.773,125.124 C335.491,135.227 334.839,158.434 324.862,166.8 C314.886,173.581 296.251,184.161 292.585,206.892 C288.920,229.622 292.396,240.932 294.737,249.928 C290.246,259.499 277.523,271.445 277.523,271.445 C277.523,271.445 259.706,258.879 260.309,254.231 C260.911,249.583 275.921,217.80 279.675,202.588 C283.429,188.96 275.425,155.533 268.916,140.186 C262.407,124.839 249.550,107.909 249.550,107.909 C249.550,107.909 236.910,119.990 234.487,127.275 C232.64,134.561 217.496,164.667 217.273,185.374 C217.50,206.81 226.522,231.375 232.335,239.169 C238.149,246.962 238.791,252.79 238.791,252.79 C238.791,252.79 226.66,271.137 221.576,271.445 C217.87,271.754 209.343,258.536 204.362,252.79 C205.206,243.607 209.825,229.888 208.666,215.499 C207.506,201.110 197.96,181.560 189.299,176.767 C181.502,171.973 168.100,164.229 165.630,153.97 C163.160,141.964 164.780,131.66 163.478,125.124 C162.175,119.181 156.570,118.184 152.719,122.972 C148.867,127.760 144.352,143.153 146.264,155.249 C148.175,167.345 152.544,186.485 159.174,191.829 C165.804,197.173 185.370,197.187 191.451,211.195 C197.532,225.203 191.451,237.17 191.451,237.17 Z"/>
                      <path class="uchi" fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                      d="M249.550,144.490 C249.550,144.490 228.863,171.902 230.183,193.981 C231.504,216.60 242.623,238.749 247.398,239.169 C252.173,239.588 266.141,217.184 268.916,198.284 C271.691,179.385 249.550,144.490 249.550,144.490 Z"/>
                      <path class="uchi" fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                      d="M249.550,267.142 L266.764,284.356 C266.764,284.356 254.100,304.85 251.701,308.26 C249.303,311.967 249.426,311.767 247.398,308.26 C245.369,304.285 230.183,286.508 230.183,286.508 L249.550,267.142 Z"/>
                      <path class="uchi" fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                      d="M314.103,340.303 C314.103,340.303 338.969,384.433 342.77,389.794 C333.62,384.609 318.8,377.142 314.103,340.303 Z"/>
                      <path class="uchi" fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                      d="M184.996,342.455 C184.996,342.455 157.110,387.504 154.871,389.794 C152.631,392.84 157.137,390.893 161.326,387.642 C165.515,384.391 180.693,380.681 184.996,342.455 Z"/>
                      <path class="uchi" fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                      d="M249.550,374.732 C253.497,375.540 261.436,391.798 260.309,404.857 C259.181,417.915 249.550,437.134 249.550,437.134 C249.550,437.134 238.433,419.967 238.791,407.8 C239.149,394.49 245.390,373.880 249.550,374.732 Z"/>
                      <path class="uchi" fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                      d="M301.193,264.990 L288.282,280.53 L307.648,305.874 L318.407,290.812 L301.193,264.990 Z"/>
                      <path class="uchi" fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                      d="M197.907,264.990 L210.817,282.204 L191.451,305.874 L178.540,290.812 L197.907,264.990 Z"/>
                    </g>
                  </mask>
                  <g mask="url(#em03)">
                    <image x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="/_assets/images/jerry.jpg"></image>
                  </g>
                </svg>

      .fe-area
        h2 SMIL(Synchronized Multimedia Integration Language)
        p SVGについて細かく記載されているページ
          br
          a(href="http://defghi1977.html.xdomain.jp/tech/svgMemo/svgMemo_03.htm" target="_blank") http://defghi1977.html.xdomain.jp/tech/svgMemo/svgMemo_03.htm
          .emblem-container
            .emblem-anime
              p 円を動かす
              .
                <svg viewBox="0, 0, 600, 100" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="10" cy="10" r="10" fill="#3498db">
                    <animate attributeType="XML" attributeName="cx" dur="5s" from="0" to="600" repeatCount="indefinite" />
                  </circle>
                </svg>
              p 円を動かす　その２
              .
                <svg viewBox="0, 0, 600, 100" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="0" cy="10" r="10" fill="#27ae60" >
                    <animate attributeType="XML" attributeName="cx" dur="5s" values="0;10;40;120;300;600" repeatCount="indefinite" />
                  </circle>
                </svg>

              p 四角形の頂点を動かす
              .
                <svg viewBox="0, 0, 600, 600" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#27ae60" d="M 0,0 L 100,0 600,600 0,100">
                    <animate attributeType="XML" attributeName="d" dur="6s" repeatCount="indefinite"
                      values="
                        M 0,0 L 100,0 600,600 0,100;
                        M 100,0 L 600,100 100,100 100,600;
                        M 0,0 L 100,0 600,600 0,100"/>
                  </path>
                </svg>

              p 円を変形させる
              .
                <svg width="200" height="200" viewBox="0, 0, 600, 600" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="100" cy="100" r="50" fill="#80ee40">
                    <animateTransform attributeName="transform" attributeType="XML" type="scale" values="1 1; 3 1;1 1;" dur="6s" repeatCount="indefinite" />
                  </circle>
                </svg>

              p svg領域にクラスをつけて背景色と領域サイズを指定している。<br>点線は普通にSVG
              .
                <svg viewBox="0 0 200 200" class="border-box">
                  <rect x="5" y="5" width="190" height="200" stroke="orange" stroke-width="5" stroke-dasharray="10" fill="none"/>
                </svg>

              p CSSで設定したサイズに合わせてSVGが変形している
              .
                <svg class="border-box">
                  <svg y="0%" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0,0L50,50L100,0" fill="red"/>
                    <path d="M0,0L50,50L0,100" fill="blue"/>
                    <path d="M0,100L50,50L100,100" fill="green"/>
                    <path d="M100,0L50,50L100,100" fill="yellow"/>
                    <rect x="0" y="0" width="100" height="100" stroke="orange" stroke-width="5" stroke-dasharray="10" fill="none"/>
                  </svg>
                </svg>

              p SVG内の色に「currentColor」と指定した場合、CSSのcolorで指定した色が反映される例
              .
                <svg viewBox="0 0 200 200" class="square">
                  <g>
                    <rect x="0" y="0" width="100" height="100" fill="currentColor"/>
                    <rect x="101" y="101" width="98" height="98" stroke="currentColor" stroke-width="2" fill="none"/>
                    <rect x="125" y="25" width="50" height="50" fill="green"/>
                  </g>
                </svg>

              p カエルを瞬きさせる（パスを変形させることはできんかった。。。）
              .
                <svg version="1.1" id="_x39_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 720 599.063" style="enable-background:new 0 0 720 599.063;" xml:space="preserve">
                  <style type="text/css">
                    .st0{fill:#94C85C;}
                    .st1{fill:#FFFFFF;}
                    .st2{fill:#FC8251;}
                  </style>
                  <g>
                    <path class="st0" d="M625.668,593.39H146.602c0,0-6.987-82.57,25.078-169.588c32.065-86.972,41.876-112.279,42.499-131.031
                      c0.238-7.272-2.059-15.356-4.978-22.532c-4.594-11.338-10.768-20.379-10.768-20.379s-15.22-6.267-29.434-23.967
                      c-14.214-17.7-5.36-30.425,16.464-31.047c21.823-0.573,60.11,5.406,60.11,5.406s1.292-13.251,3.158-26.455
                      c1.054-7.319,0.241-14.639,4.452-19.71c11.725-14.112,31.442-18.752,44.269-10.764c7.705,4.832,12.97,30.474,12.97,30.474h80.355
                      c-1.34-3.444,9.093-32.483,36.564-32.866c27.519-0.382,29.912,19.71,32.88,32.866c2.967,13.156,21.872,20.618,32.065,30.234
                      c10.147,9.662,22.781,34.587,31.969,49.8c9.236,15.165,10.625,41.62,18.666,60.516c8.088,18.944,9.524,35.688,14.5,42.146
                      c5.027,6.411,43.218,63.482,57.001,137.537c3.064,41.955,7.944,60.372,11.247,69.127C628.97,571.862,625.668,593.39,625.668,593.39
                      z"/>
                    <path class="st1" d="M515.066,593.39H234.853c-13.735-21.671-5.839-58.89,9.428-107.206
                      c24.121-76.112,23.164-191.165-11.629-216.041c92.032,26.12,224.361,12.295,224.361,12.295s9.429-9.807,8.854,7.797
                      c-0.622,17.653-1.914,170.115,31.3,203.794C523.298,520.531,520.857,567.031,515.066,593.39z"/>
                    <path class="st2" d="M275.191,279.223c13.656,12.671,18.669,28.067,22.284,36.358s13.312,54.086,28.804,63.956
                      c15.492,9.87,41.43-3.553,47.024-11.054s23.936-71.187,25.034-78.231s0-4.447,0-4.447l-66.835-1.808L275.191,279.223z"/>
                    <path d="M564.341,373.851c-10.813-10.722-18.903,24.298-11.273,25.508c7.632,1.205,4.921,19.556,14.283,14.394
                      C567.351,413.753,591.54,400.83,564.341,373.851z"/>
                    <path d="M581.98,424.339c-9.915,10.834-20.172,23.817-12.799,26.643c7.375,2.822,1.264,14.127,12.799,13.184
                      c11.537-0.939,15.325,15.496,17.19,0.056C601.037,448.786,586.322,419.597,581.98,424.339z"/>
                    <path d="M185.785,387.282c13.213,11.707,12.916,19.327,6.314,27.381c-6.602,8.059-6.567,21.032-17.907,21.247
                      C162.849,436.121,181.198,383.218,185.785,387.282z"/>
                    <path d="M161.536,447.347c16.423,7.4,16.423,7.4,16.423,7.4s15.844,26.372-8.097,31.081
                      C145.921,490.542,161.536,447.347,161.536,447.347z"/>
                    <path d="M242.416,170.003c1.192-4.985,2.673-11.399,6.37-17.187c3.573-5.798,9.312-10.955,16.164-13.702
                      c6.763-2.719,14.337-3.864,21.934-2.074c7.578,1.803,13.93,7.031,17.585,12.801c0.442,0.729,0.874,1.448,1.299,2.154
                      c0.416,0.78,0.879,1.687,1.145,2.429c0.633,1.556,1.012,2.962,1.372,4.321c0.671,2.696,1.045,5.116,1.311,7.316
                      c0.521,4.387,0.533,7.863,0.407,10.451c-0.306,5.195-1.199,6.755-1.276,4.924c-0.131-1.836-1.213-4.485-2.776-8.778
                      c-0.759-2.13-1.666-4.681-2.758-7.746c-1.122-2.985-2.183-6.69-4.272-9.857c-4.468-7.166-11.514-10.516-17.589-10.6
                      c-6.127-0.107-11.268,1.845-14.285,3.733c-3.05,1.962-3.891,2.401-6.265,3.966c-1.14,0.827-2.659,1.985-4.438,4.326
                      c-1.757,2.387-3.732,5.812-5.02,11.707c-2.524,11.936-4.024,19.033-4.741,22.429c-0.322,1.514-0.418,2.266-0.935,2.476
                      c-0.481,0.173-1.584-0.892-1.93-2.84c-0.811-3.84-1.045-8.853-1.194-12.964C242.386,173.185,242.416,170.003,242.416,170.003z"/>
                    <path d="M333.893,169.457c8.754,0.626,21.371-1.542,32.146,0.383c5.361,0.939,8.957,2.845,10.857,4.298
                      c1.907,1.5,2.25,2.457,1.505,2.252c-1.594-0.406-5.253,1.803-12.624,0.962c-7.525-0.747-13.692,0.126-17.244,0.967
                      c-3.585,0.888-2.012-0.85-12.881-0.575c-10.967,0.266-13.054-4.032-9.932-4.831C328.808,172.087,333.893,169.457,333.893,169.457z"
                      />
                    <path d="M389.87,162.575c3.173-5.078,7.312-10.189,12.57-14.73c5.286-4.452,11.761-8.461,19.611-10.11
                      c1.998-0.285,4.052-0.612,5.936-0.505c1.93,0.019,3.849-0.075,5.833,0.327c1.975,0.238,3.94,0.593,5.877,1.331
                      c1.982,0.514,3.802,1.518,5.613,2.513c7.317,4.233,11.416,11.539,13.846,17.93c2.412,6.554,3.253,12.175,3.884,16.762
                      c0.589,4.602,0.788,8.218,0.888,10.918c0.201,5.377-0.224,7.138-0.633,5.242c-0.416-1.892-1.797-4.583-3.536-9.185
                      c-1.806-4.569-3.692-11.142-6.812-19.892c-3.218-8.713-8.836-14.936-15.166-16.608c-6.202-1.794-12.254-1.089-15.634,0.178
                      c-3.69,1.434-4.732,1.836-7.628,2.962c-1.439,0.691-3.388,1.602-6.059,3.588c-2.615,2.014-6.139,4.999-9.726,10.231
                      c-7.099,10.563-8.181,18.173-9.266,21.663c-0.974,3.593-2.183,3.303-2.729-0.776c-0.414-4.013-0.161-9.563,0.809-14.053
                      C388.563,165.925,389.87,162.575,389.87,162.575z"/>
                    <path d="M302.296,280.047c-33.548-3.139-70.526-12.511-98.632-28.386c-13.944-7.825-26.061-17.075-32.307-26.975
                      c-3.099-4.91-4.431-9.764-4.494-13.866c0.243-2.037,0.266-4.088,0.827-5.242c0.495-1.243,1.239-1.943,1.963-2.546
                      c2.893-2.411,10.485-3.023,17.858-2.457c7.504,0.491,15.306,1.663,22.291,2.406c6.983,0.766,13.259,1.098,17.697,0.416
                      c4.508-0.673,6.833-2.42,6.01-4.452c-0.633-1.687-3.374-2.981-7.817-4.611c-4.424-1.574-10.518-3.35-17.403-4.835
                      c-6.889-1.472-14.577-2.663-22.214-2.71c-7.541-0.023-15.493,1.107-21.333,5.335c-1.407,1.018-3.279,2.588-4.931,5.041
                      c-1.605,2.443-2.781,5.784-2.958,9.124c-0.692,6.433,1.309,14.431,5.842,21.336c9.165,13.964,25.719,24.499,43.428,33.043
                      c17.821,8.652,37.607,14.576,55.743,18.575c18.157,4.05,34.756,5.877,46.69,7.106c23.925,2.406,50.182,2.509,74.684,1.967
                      c12.266-0.392,23.983-0.35,35.078-0.813c11.042-0.448,21.249-1.486,30.068-3.266c8.803-1.743,16.426-5.373,20.772-9.825
                      c1.152-0.99,1.984-2.172,2.631-3.275c0.615-1.117,1.304-1.929,1.447-2.948c0.451-1.897,0.439-3.13,0.079-3.756
                      c-0.36-0.626-1.084-0.659-2.054-0.206c-1.04,0.425-1.912,1.5-3.907,2.663c-0.806,0.691-1.993,1.331-3.372,2.07
                      c-1.222,0.855-3.061,1.462-4.875,2.373c-3.919,1.528-8.922,3.275-15.36,4.765c-12.904,2.929-24.598,3.812-35.403,4.429
                      c-10.922,0.477-20.994,0.92-31.37,1.374C356.284,282.471,334.306,283.032,302.296,280.047z"/>
                    <path d="M468.647,247.648c0.872-0.028,1.767-0.061,2.678-0.089c0.921,0.131,1.867,0.336,2.823,0.523
                      c1.965,0.224,3.734,1.224,5.597,2.13c3.421,2.158,6.531,5.284,8.198,9.096c3.921,7.372,3.019,17.164-1.79,23.466
                      c-1.007,1.705-2.568,2.71-3.769,3.793c-1.196,1.126-2.571,1.663-3.758,2.2c-1.206,0.495-2.236,1.009-3.23,1.182
                      c-1.005,0.15-1.874,0.238-2.615,0.276c-2.951,0.15-3.849-0.392-2.97-0.733c1.643-0.948,5.015-4.261,9.833-10.427
                      c2.531-3.21,2.797-7.134,2.489-10.054c-0.129-0.738-0.255-1.444-0.374-2.116c-0.266-0.621-0.521-1.215-0.762-1.775
                      c-0.374-1.145-1.152-1.906-1.659-2.579c-1.017-1.355-1.353-1.537-1.783-2.868c-0.696-0.822-1.739-3.555-6.66-3.901
                      c-1.236,0.252-2.349-0.009-3.4,0.304c-1.042,0.276-2.01,0.439-2.909,0.533c-1.722,0.509-3.113,0.818-4.174,0.78
                      c-2.12-0.023-2.72-1.107-1.257-2.527c0.72-0.696,1.545-1.584,2.412-2.537c0.867-0.948,2.035-1.616,3.022-2.411
                      c1.019-0.743,1.944-1.476,2.769-1.729C468.159,247.849,468.647,247.648,468.647,247.648z"/>
                    <path d="M498.087,207.237c7.719,9.801,17.91,21.714,25.313,36.407c6.882,14.567,12.916,29.371,17.148,43.732
                      c2.391,7.699,2.486,14.464,2.65,19.523c0.021,5.05,0.04,9.054,0.054,12.034c0.115,5.742,0.318,7.746-0.631,5.826
                      c-0.818-1.929-2.807-4.803-4.711-10.166c-0.96-2.658-1.895-5.896-2.818-9.741c-0.96-3.84-1.792-8.283-3.346-13.039
                      c-3.374-10.311-7.13-19.364-10.614-26.942c-3.517-7.587-6.676-13.768-9.322-17.739c-2.694-4.06-3.169-5.349-4.833-8.83
                      c-1.748-3.434-4.531-9.129-14.297-20.71c-9.89-11.521-14.996-19.486-16.414-23.737c-1.489-4.228,0.271-4.63,3.416-1.579
                      c3.164,3.051,7.744,6.774,11.567,9.731C495.11,204.962,498.087,207.237,498.087,207.237z"/>
                    <path d="M209.729,267.209c1.334,2.738,3.054,5.807,4.368,9.629c1.339,4.055,1.776,7.718,2.108,11.787
                      c0.537,7.975-0.488,16.169-2.79,23.149c-2.367,6.98-5.403,11.282-7.529,13.529c-2.164,2.242-3.297,2.583-2.818,1.658
                      c0.93-1.943,0.119-6.924,2.921-16.491c2.722-9.764,2.157-17.991,1.012-22.336c-0.542-2.2-0.453-2.812-0.386-4.583
                      c-0.056-1.892,0.334-4.251-3.085-10.399c-3.564-6.041-5.08-10.838-4.697-13.216c0.306-2.392,1.645-2.345,2.762-0.682
                      c1.166,1.696,3.185,3.639,4.935,5.186C208.331,265.999,209.729,267.209,209.729,267.209z"/>
                    <path d="M300.296,316.486c3.631,10.353,6.181,21.831,10.02,33.193c1.923,5.676,4.251,11.278,7.27,16.501
                      c3.017,5.223,6.854,9.984,11.425,13.146c4.601,3.06,9.887,4.12,15.229,2.546c5.344-1.439,10.469-4.905,14.968-9.026
                      c9.011-8.386,15.914-19.248,20.749-29.965c1.182-2.7,2.192-5.34,3.019-7.895c0.83-2.714,1.624-5.321,2.386-7.816
                      c1.47-5.046,2.811-9.652,4.029-13.828c2.409-8.372,4.393-15.024,6.003-19.92c3.218-9.806,4.8-12.623,3.919-8.998
                      c-0.874,3.639-1.323,9.273-2.571,18.552c-0.631,4.639-1.465,10.189-2.76,16.86c-0.654,3.331-1.425,6.942-2.372,10.848
                      c-0.953,3.845-1.989,8.19-3.779,12.721c-3.524,8.979-8.053,16.93-13.124,23.863c-5.08,6.914-10.7,12.875-17.04,17.243
                      c-6.225,4.429-13.589,7.036-20.55,6.629c-6.992-0.434-12.589-3.574-16.386-6.653c-3.867-3.125-5.732-5.62-7.366-7.877
                      c-1.631-2.28-2.832-4.476-4.459-7.727c-1.582-3.261-3.484-7.629-5.756-14.38c-2.313-6.718-4.576-15.963-8.324-28.231
                      c-7.525-24.494-17.426-36.206-21.076-42.429c-3.865-6.05-2.131-6.045,3.15-0.663c5.239,5.363,11.909,13.132,16.276,20.322
                      c2.218,3.546,4.005,6.811,5.207,9.171C299.574,315.048,300.296,316.486,300.296,316.486z"/>
                    <path d="M326.396,401.961c2.975,2.668,7.59,4.686,12.591,5.33c4.999,0.705,10.238,0.392,15-0.332
                      c4.767-0.677,8.329-1.224,10.63-1.374c2.297-0.164,3.349,0.22,2.636,0.598c-1.379,0.589-2.556,5.723-11.056,7.947
                      c-8.35,1.995-15.437,2.102-19.732,2.018c-2.143-0.079-2.704-0.458-4.197-1.205c-1.435-0.92-3.982-1.869-9.263-5.209
                      c-5.274-3.48-6.819-7.246-6.994-9.124c-0.175-1.939,1.038-2.443,2.37-1.556c1.295,0.958,3.365,1.78,5.015,2.28
                      C325.087,401.802,326.396,401.961,326.396,401.961z"/>
                    <path d="M185.439,370.371c-4.76,11.427-10.518,20.509-15.44,31.464c-4.87,10.745-9.92,22.84-13.724,39.827
                      c-3.681,16.954-5.015,26.601-6.639,34.422c-1.563,7.797-3.197,14.015-4.856,24.583c-1.603,10.586-2.157,14.838-3.066,20.14
                      c-0.83,5.326-2.325,11.591-4.185,26.765c-0.858,7.61-1.038,11.511-1.103,13.315c-0.082,1.803-0.019,1.528,0.105,0.972
                      c0.372-1.093,0.474-3.382,1.119,7.769c0.809,11.194,3.814,19.178,7.064,23.714c1.393,2.303,3.272,3.667,4.15,4.541
                      c1,0.86,1.512,1.182,1.512,1.182c-2.613-8.063-1.012-15.384,0.512-22.312c-2.8-14.426-2.51-30.095-1.748-45.48
                      c0,0,1.542-10.441,3.903-22.906c2.33-12.464,5.445-26.998,6.828-35.426c1.367-8.25,4.005-18.351,7.209-27.666
                      c3.148-9.334,6.817-17.907,9.069-23.723c2.262-5.746,4.854-15.038,8.371-24.788c3.613-9.937,8.2-20.972,11.64-31.46
                      c1.75-5.256,1.935-9.329,1.498-11.693c-0.484-2.397-1.439-3.102-2.568-2.415C192.852,352.674,190.218,359.037,185.439,370.371z"/>
                    <path d="M548.549,349.32c15.297,7.4,27.25,14.604,33.541,31.011c3.903,10.488,9.705,26.704,15.024,44.073
                      c2.706,8.675,5.316,17.641,7.842,26.255c2.514,8.582,5.057,16.907,6.959,24.424c4.047,14.964,7.022,36.491,8.053,55.664
                      c0.446,9.4,2.257,18.019,3.802,25.213c1.575,7.167,2.779,12.847,3.311,15.903c2.458,12.034,4.517,23.256,0.706,25.335
                      c-1.818,1.004-3.169-0.902-4.012-3.812c-0.974-2.943-1.568-6.961-2.031-10.792c-0.171-1.915-1.035-7.699-2.914-15.571
                      c-1.783-7.877-4.646-17.888-6.045-28.731c-0.664-5.583-0.911-10.558-1.395-15.52c-0.437-4.929-0.935-9.61-1.428-13.814
                      c-0.967-8.419-1.947-14.936-2.059-17.776c-0.084-2.845-1.075-8.045-2.846-14.23c-1.732-6.209-4.403-13.254-7.183-20.364
                      c-5.48-14.132-11.395-27.325-12.077-30.698c-1.311-6.788-8.415-22.247-12.507-30.24c-3.891-8.124-12.626-21.308-19.838-28.208
                      c-3.477-3.364-7.396-9.479-11.126-14.454C538.479,347.619,544.284,347.297,548.549,349.32z"/>
                    <path d="M278.219,169.681c-16.638,1.649-14.841,44.527-3.751,49.025c11.1,4.499,17.554,1.322,20.335-18.51
                      c2.772-19.827-2.257-27.236-6.464-28.815C278.909,167.84,278.219,169.681,278.219,169.681z" class="frogEye">
                      <animate attributeType="XML" attributeName="d" dur="1.2s" repeatCount="indefinite"
                      values="
                        M278.219,169.681c-16.638,1.649-14.841,44.527-3.751,49.025c11.1,4.499,17.554,1.322,20.335-18.51c2.772-19.827-2.257-27.236-6.464-28.815C278.909,167.84,278.219,169.681,278.219,169.681z;
                        M278.219,169.681c-16.638,1.649-14.841,44.527-3.751,49.025c11.1,4.499,17.554,1.322,20.335-18.51c2.772-19.827-2.257-27.236-6.464-28.815C278.909,167.84,278.219,169.681,278.219,169.681z;
                        M278.219,169.681c-16.638,1.649-14.841,44.527-3.751,49.025c11.1,4.499,17.554,1.322,20.335-18.51c2.772-19.827-2.257-27.236-6.464-28.815C278.909,167.84,278.219,169.681,278.219,169.681z;
                        M278.219,169.681c-16.638,1.649-14.841,44.527-3.751,49.025c11.1,4.499,17.554,1.322,20.335-18.51c2.772-19.827-2.257-27.236-6.464-28.815C278.909,167.84,278.219,169.681,278.219,169.681z;
                        M278.2,198.2c-16.6.3-14.8,7.5-3.7,8.3s17.5.2,20.3-3.1-2.3-4.6-6.5-4.9C278.9,197.9,278.2,198.2,278.2,198.2Z;
                        M278.219,169.681c-16.638,1.649-14.841,44.527-3.751,49.025c11.1,4.499,17.554,1.322,20.335-18.51c2.772-19.827-2.257-27.236-6.464-28.815C278.909,167.84,278.219,169.681,278.219,169.681z;
                        M278.2,198.2c-16.6.3-14.8,7.5-3.7,8.3s17.5.2,20.3-3.1-2.3-4.6-6.5-4.9C278.9,197.9,278.2,198.2,278.2,198.2Z;
                        M278.219,169.681c-16.638,1.649-14.841,44.527-3.751,49.025c11.1,4.499,17.554,1.322,20.335-18.51c2.772-19.827-2.257-27.236-6.464-28.815C278.909,167.84,278.219,169.681,278.219,169.681z" />
                    </path>
                    <path d="M423.13,169.77c-14.229,5.284-17.709,44.176-1.36,46.9c16.349,2.724,20.511-19.065,17.253-34.043
                      S426.128,168.653,423.13,169.77z" class="frogEye">
                      <animate attributeType="XML" attributeName="d" dur="1.2s" repeatCount="indefinite"
                      values="
                        M423.13,169.77c-14.229,5.284-17.709,44.176-1.36,46.9c16.349,2.724,20.511-19.065,17.253-34.043S426.128,168.653,423.13,169.77z;
                        M423.13,169.77c-14.229,5.284-17.709,44.176-1.36,46.9c16.349,2.724,20.511-19.065,17.253-34.043S426.128,168.653,423.13,169.77z;
                        M423.13,169.77c-14.229,5.284-17.709,44.176-1.36,46.9c16.349,2.724,20.511-19.065,17.253-34.043S426.128,168.653,423.13,169.77z;
                        M423.13,169.77c-14.229,5.284-17.709,44.176-1.36,46.9c16.349,2.724,20.511-19.065,17.253-34.043S426.128,168.653,423.13,169.77z;
                        M423.1,198.3c-14.2.9-17.7,7.9-1.3,8.4s20.5-3.4,17.2-6.1S426.1,198.1,423.1,198.3Z;
                        M423.13,169.77c-14.229,5.284-17.709,44.176-1.36,46.9c16.349,2.724,20.511-19.065,17.253-34.043S426.128,168.653,423.13,169.77z;
                        M423.1,198.3c-14.2.9-17.7,7.9-1.3,8.4s20.5-3.4,17.2-6.1S426.1,198.1,423.1,198.3Z;
                        M423.13,169.77c-14.229,5.284-17.709,44.176-1.36,46.9c16.349,2.724,20.511-19.065,17.253-34.043S426.128,168.653,423.13,169.77z" />
                    </path>
                    <path d="M356.247,258.772c-3.66,0-1.496-4.092,1.379-6.713c1.783-1.616,4.954-4.863,7.522-2.144
                      C369.843,254.88,364.174,258.772,356.247,258.772z"/>
                    <path d="M325.225,258.772c-6.508,0.453-10.794-7.858-5.216-8.858c2.788-0.5,5.632,1.607,7.011,3.892
                      C328.392,256.09,328.305,258.557,325.225,258.772z"/>
                    <path d="M188.58,506.823c-2.627,7.194-3.76,16.762-4.106,26.699c-0.369,9.96-0.035,20.364-0.173,29.895
                      c-0.107,19.117-3.426,27.021-3.47,24.078c0.002-2.924-3.496-8.503-4.001-22.901c-0.465-14.412-1.119-26.031-1.432-32.945
                      c-0.213-3.452,0.161-4.438,0.692-7.096c0.673-2.658,1.262-7.026,3.723-17.225c2.711-10.254,7.265-15.562,9.974-17.052
                      c2.585-1.644,3.152-0.308,1.909,2.163c-0.647,1.238-1.339,2.682-1.687,4.349c-0.4,1.63-0.897,3.167-0.993,4.728
                      c-0.157,1.49-0.294,2.812-0.393,3.765C188.54,506.216,188.58,506.823,188.58,506.823z"/>
                    <path d="M562.603,551.406c0.215-7.965,0.43-17.337-0.837-25.47c-1.131-8.143-3.185-14.866-3.587-18.575
                      c-0.841-7.573-6.356-16.603-13.35-12.175c-5.709,3.63-1.288,12.651,2.283,16.019c1.82,1.701,6.027,8.675,8.167,17.351
                      c2.257,8.629,2.073,18.71,1.617,24.34c-1.103,11.273-1.199,24.788-0.086,33.473c0.463,4.457,4.372,6.807,6.854,6.129
                      c2.575-0.752,3.938-2.976,1.809-8.432c-2.012-5.742-2.615-10.325-2.919-15.085C562.273,564.174,562.427,559.054,562.603,551.406z"
                      />
                    <path d="M41.162,564.16c10.039-2.196,22.962-12.034,36.305-15.534c6.653-1.78,11.785-1.444,14.596-0.626
                      c2.842,0.799,3.552,1.518,2.585,1.523c-2.075,0.126-5.791,2.35-14.591,5.116c-8.974,2.845-15.517,7.269-19.312,9.787
                      c-1.907,1.317-2.552,1.448-4.314,1.971c-1.799,0.481-4.473,1.593-11.198,4.069c-6.856,2.401-12.058,1.504-13.797-0.075
                      c-1.809-1.299-0.974-2.247,0.816-2.336c0.904,0.037,1.961-0.224,3.003-0.617c1.024-0.271,2.035-0.822,2.916-1.322
                      c0.872-0.453,1.612-0.925,2.15-1.341C40.844,564.393,41.162,564.16,41.162,564.16z"/>
                    <path d="M10.968,474.976c4.695-0.383,10.425-2.999,16.071-6.26c5.683-3.252,11.474-7.12,17.251-10.026
                      c5.749-2.943,10.371-4.153,13.18-4.415c2.828-0.252,3.774,0.15,2.893,0.5c-1.855,0.762-4.202,4.583-12.278,9.241
                      c-8.139,4.742-14.33,9.39-18.078,12.119c-1.865,1.392-2.528,1.551-4.311,2.065c-0.881,0.285-2.04,0.659-3.807,1.233
                      c-1.762,0.603-4.148,1.43-7.688,2.289c-7.289,1.607-12.131-0.631-13.451-2.313c-1.498-1.56-0.568-2.378,1.206-2.168
                      C5.749,477.947,11.054,475.139,10.968,474.976z"/>
                    <path d="M15.482,378.953l-0.047,0.103l-2.676-4.728c7.49,3.111,18.849,3.831,28.119,4.779c9.35,0.976,13.498,3.2,12.042,3.392
                      c-1.435,0.051-4.225,3.322-11.782,3.13c-7.492-0.243-13.526-0.472-17.15-0.392c-3.599-0.056-1.93-0.846-12.093-3.639
                      c-0.444-0.14-0.869-0.271-1.262-0.397l-3.043-0.953l0.855-2.91c0.206-0.701,0.444-1.406,0.865-2.186
                      c0.486-0.799,1.257-1.939,2.881-2.429c1.507-0.355,2.297,0.009,2.832,0.168c0.46,0.192,0.776,0.364,0.998,0.505
                      c0.757,0.561,1.192,0.836,1.862,1.112c1.218,0.36,1.968,1.243,0.411,2.308c-0.778,0.491-2.012,0.813-3.138,0.864
                      c-0.551,0.042-1.061,0.061-1.355,0.168l-0.187,0.089c-0.009-0.075-0.005,0.383,0.005-0.215l-0.023-0.654l-0.056-0.224l0.033,0.033
                      l0.285,0.35l1.084,0.794l0.339,0.374L15.482,378.953z"/>
                    <path d="M21.49,268.615c7.569,3.878,18.802,7.143,27.743,9.885c8.901,2.71,12.787,5.172,11.324,5.251
                      c-1.402-0.154-4.72,2.836-12.297,1.196c-7.436-1.705-13.315-3.205-16.872-3.765c-3.524-0.603-1.678-1.369-11.268-5.316
                      c-9.506-3.878-10.133-7.821-7.099-7.484C16.069,268.732,21.49,268.615,21.49,268.615z"/>
                    <path d="M68.485,119.721c3.809,5.214,11.418,10.212,16.97,15.179c5.566,4.971,6.768,8.904,5.765,8.334
                      c-0.944-0.635-4.541,0.617-9.333-2.882c-4.732-3.504-8.754-6.055-11.299-7.395c-2.5-1.397-0.795-1.509-6.576-7.437
                      c-5.679-6.12-3.709-9.708-1.711-8.39C64.332,118.446,68.485,119.721,68.485,119.721z"/>
                    <path d="M174.568,48.477c4.828,7.218,11.946,16.963,16.222,25.676c4.297,8.647,4.262,13.357,3.412,12.193
                      c-0.79-1.21-4.945-2.046-8.759-8.451c-3.767-6.377-7.284-11.095-9.684-13.567c-2.463-2.406-0.22-2.172-6.052-10.301
                      c-6.052-7.76-5.183-11.45-2.547-9.843C169.745,45.8,174.568,48.477,174.568,48.477z"/>
                    <path d="M281.26,7.001c-0.453,6.298,3.501,14.693,4.917,22.607c1.355,8.04-1.267,11.754-1.397,10.53
                      c-0.229-1.205-3.356-2.953-4.805-8.503c-1.493-5.611-3.51-9.998-4.837-12.623c-1.215-2.677,0.051-1.663-1-10.278
                      c-0.39-4.382,0.757-7.003,1.795-8.073c1.056-1.084,2.122-0.757,2.421,0.406C278.848,3.465,281.26,7.001,281.26,7.001z"/>
                    <path d="M412.775,32.014c2.482-5.657,4.69-14.057,8.656-19.981c3.945-5.891,7.887-6.797,7.359-5.91
                      c-0.502,0.911,0.963,4.12-1.435,8.633c-2.398,4.541-3.454,8.554-3.713,10.983c-0.192,2.443-1.334,0.902-3.657,7.503
                      c-2.033,6.522-5.578,7.288-5.912,5.069C413.776,36.116,412.775,32.014,412.775,32.014z"/>
                    <path d="M522.292,88.421c5.52-4.191,11.266-12.488,17.501-18.061c6.26-5.606,10.747-5.928,9.845-5.036
                      c-0.888,0.906-0.559,4.672-4.821,9.199c-4.269,4.536-7.174,8.68-8.693,11.296c-1.549,2.612-1.608,0.752-7.943,6.984
                      c-3.229,3.097-5.975,4.181-7.588,4.116c-1.584-0.051-1.991-1.103-1.257-2.107C520.85,92.775,522.292,88.421,522.292,88.421z"/>
                    <path d="M571.553,190.928c6.073-3.508,12.668-10.96,19.015-16.141c6.363-5.195,10.67-5.765,9.841-4.831
                      c-0.869,0.892-0.453,4.765-5.015,9.213c-4.55,4.415-7.908,8.278-9.735,10.759c-1.862,2.439-1.697,0.64-8.801,6.064
                      c-7.286,5.312-10.747,3.009-9.034,1.07C569.524,195.091,571.553,190.928,571.553,190.928z"/>
                    <path d="M614.051,252.708c6.202-3.382,14.199-8.951,21.354-12.03c7.097-3.083,11.177-2.546,10.235-1.873
                      c-0.981,0.607-1.44,4.448-6.749,7.381c-5.277,2.887-9.163,5.676-11.198,7.629c-1.984,2-1.823,0-8.663,4.27
                      c-6.539,4.41-9.915,2.962-8.56,0.822C611.84,256.805,614.051,252.708,614.051,252.708z"/>
                    <path d="M657.044,346.232c5.95-0.126,13.596-4.91,21.291-6.625c7.859-1.654,11.458,1.233,10.247,1.294
                      c-1.173,0.22-2.83,3.242-7.955,4.812c-5.216,1.649-9.167,3.985-11.509,5.508c-2.414,1.434-1.559,0.061-9.677,1.925
                      c-4.162,0.808-6.824-0.112-7.917-1.074c-1.119-0.967-0.865-2.056,0.208-2.443C653.974,348.955,657.044,346.232,657.044,346.232z"/>
                    <path d="M678.022,414.565c8.06-0.467,19.309-3.934,29.306-3.742c10.046,0.257,13.668,3.976,12.194,3.733
                      c-1.486-0.07-4.445,2.439-11.376,2.747c-7.018,0.378-12.554,1.929-15.722,3.107c-3.192,1.205-1.949-0.458-11.899,1.089
                      c-10.051,1.5-12.395-2.004-9.623-3.032C673.655,417.42,678.022,414.565,678.022,414.565z"/>
                    <path d="M693.892,479.914c4.613,0.724,11.13-0.724,16.559,0c5.431,0.724,7.602,3.616,6.789,3.616c-0.816,0-2.444,2.892-6.517,2.892
                      c-4.071,0-7.328,0.719-9.228,1.444c-1.902,0.724-1.087-0.724-6.789-0.724s-6.786-3.611-5.157-4.335
                      S693.892,479.914,693.892,479.914z"/>
                    <path d="M690.148,539.969c5.193,4.56,14.479,7.993,21.574,12.067c7.127,4.097,9.132,7.975,7.969,7.508
                      c-1.14-0.5-4.604,1.219-10.35-1.439c-5.721-2.663-10.532-4.405-13.5-5.251c-2.935-0.916-1.22-1.317-8.749-6.223
                      c-7.478-5.232-6.197-9.315-3.865-8.232C685.596,539.442,690.148,539.969,690.148,539.969z"/>
                  </g>
                </svg>

